# IDE / editor specific configs
.vscode/

# AWS Cloud9 temporary files
.~c9_invoke_*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*

# Environments
*.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules
build/

# Temp files
*.log